@import url('https://fonts.googleapis.com/css2?family=Montserrat+Alternates&family=Pixelify+Sans:wght@400&display=swap');


*{
    padding: 0;
    margin: 0;

    font-family: 'Montserrat Alternates', sans-serif;
}
h1{
    font-family: 'Montserrat Alternates', sans-serif;
    font-size: 3em;
}
main{
    width: 100%;
    height: 100%;

    display: flex;
    flex-direction: row;
    
    background-image: linear-gradient(rgba(0, 0, 0, 0.8), rgba(0, 0, 0, 0.4)), url("img/milkyway.jpg");
    background-size: cover;
}
#index{
    background-image: url(img/index.png);
    background-size: cover;
}
#index *{
    color: white;
}
#index nav{
    width: 100%;
    height: 4em;
    background-color: #30618e;
    position: fixed;
    top: 0;
}
#index nav img{
    height: 8em;
    padding: 1.5em 1em 1em 1em;
    background-color: #30618e;
    border-radius : 1em;
}
#index section{
    display: flex;
    height: 100%;
    flex-direction: row;
    justify-content: space-around;
    padding-left: 4em;
}
#index section *{
    margin: auto;
}
#index h1{
    padding-bottom: .2em;
}
#index p{
    padding-top: 1em;
    border-top: solid 0.05em white;
}

#logo{
    position: fixed;
    width: 6%;
    padding: 0.5em 1em 1em 0.5em;
    background-color: #30618e;
    border-radius: 0 0 1.5em 0;
}

#contenu{
    width: 50%;
    height: 100%;

    display: flex;
}
#contenu img{
    margin: auto;
    width: 85%;
    height: 85%;
    border-radius: 1em;
}

#interaction{
    width: 50%;
    height: 100%;

    display: flex;
}
#interaction div{
    display: flex;
    flex-direction: column;

    width: 80%;
    margin: auto;
    padding: .8em 4em;
}
#interaction div:nth-child(1){
    border: solid white 0.1em;
}

#interaction div *{
    margin: 1em auto;
    color: white;
}
#interaction p{
    font-weight: 400;
    line-height: 1.5em;
    text-align: justify;
    font-size: 1.35em;
}
#interaction h2{
    font-family: 'Pixelify Sans', sans-serif;
    text-transform: uppercase;
    font-size: 2.2em;
}

#interaction a{
    text-decoration: none;
    color: white;
    font-weight: 800;
    font-size: 1.2em;
    padding: 1.5em;
    transition-duration: 0.5s;
    text-align: center;
}

#interaction a:hover{
    transform: scale(1.2);
    box-shadow: 0.2em 0.2em 1em black;
    border: solid 0.1em white;
}