/*NOUVEAU GUIDE DE STYLE*/
/*18130e - Noir*/
/*333333 - Gris LP*/
/*794e37 - Marron*/
/*3d496b - Bleu Marine */
/*bbd1df - Bleu clair*/
/*faffff - Blanc*/

/*------  GÉNÉRAL  ------*/

@import url("https://use.typekit.net/fnc3loy.css");

* {
	margin: 0;
	padding: 0;
	text-decoration: none;
	list-style: none;
	color: #faffff;
	font-family: acumin-pro;
	background-size: cover;
	background-position: center;
}

html,
body {
	height: 100%;
}

h2{
	font-size: 2em;	
}

p{
	margin: auto;
	padding: 0 2em;
	opacity: 0.8;
	text-align: justify;
}
strong{
	font-weight: 700;
}

/*------	COMPOSANTS	------*/
.fullscreen {
	min-height: 100%;
	width: 100%;
}

.midscreen{
	min-height: 50%;
	width: 100%;
}

.backN{
	background-color: #18130e;
}

.flex{
	display: flex;
}

.flexH{
	display: flex;
	flex-direction: row;
	justify-content: space-around;
}

.flexV{
	display: flex;
	flex-direction: column;
}

.wrap{
	flex-wrap: wrap;
}

.border {
	border-radius: 1em;
}

.light {
	color: #faffff;
}

.card{
	width: 30%;
	padding: auto 1em;
}

.card h2{
	color: white;
	margin: auto;
	text-transform: uppercase;
}

.shadow{
	box-shadow: 20px 20px 50px rgba(0,0,0,0.5);
}



.glass{
	box-shadow: 20px 20px 50px rgba(0,0,0,0.5);
	border-radius: 0.8em;
	background: rgba(255,255,255,0.1);
	border-top: 1px solid rgba(255,255,255,0.5);
	border-left: 1px solid rgba(255,255,255,0.5);
	backdrop-filter: blur(5px);
}

.cta {
	font-size: 1.3em;
	border: none;
	background-color: #3d496b;
	padding: 0.6em;
	width: 8em;
	text-align: center;
	cursor: pointer;
}

.link {
	font-size: 1em;
	text-align: center;
}

.margin{
	margin: auto;
}

.midelement{
	width: 40%;
}

.upper{
	text-transform: uppercase;
}

.mlegal{
	display: flex;
	flex-direction: column;
	padding: 1em;
}

.mlegal *{
	margin: 1em auto;
	width: 80%;
	text-align: center;
}


/*------	ID	------*/
#headerHome {
	background: linear-gradient(transparent, #18130e), url("img/bannierreHomepage.webp");
	background-size: cover;
    background-position: center;
}

#h1Home {
	font-size: 1.2em;
	margin: 40% 0 0 2em;
}

#h1Home>span{
	font-size: 1.8em;
}

#lienHeader{
	margin: 5em 2em;
	align-content: flex-start;
}

#galerieHeader {
	background: linear-gradient(transparent, #18130e), url("img/galerieBan2.webp");
	background-size: cover;
    background-position: right;
}

#galerie{
	margin: auto;
	padding: 0 10em;
	background-color: #18130e;
}

#galerie div{
	width: 30%;
}

#galerie img{
	margin-bottom: 2em;
	border-radius: 0.5em;
	box-shadow: 10px 10px 30px rgba(200, 200, 200, 0.15);
}

.cta span{
	cursor: pointer;
	display: inline-block;
	position: relative;
	transition: 0.5s;
	color: white;
	font-weight: 400;
}

.cta span:after {
	content: '\00bb';
	position: absolute;
	opacity: 0;
	top: 0;
	right: -20px;
	transition: 0.5s;
}

#propos{
	width: 80%;
	margin: 2em auto;
}

#propos img{
	width: 35%;
	object-fit: cover;
}

#propos p{
	font-size: 1.2em;
}

#aPropos h2{
	margin: 2em auto;
}

.chiffre{
	font-size: 2.5em;
}
.chiffreDescr{
	font-size: 1.2em;
}

#homeChiffres{
	margin: 2em auto 8em;
	width: 80%;
	flex-wrap: nowrap;
}

#homeChiffres *{
	text-align: center;
	margin: 0 auto;
}

.separateur{
	width: 0;
	border: solid 1px #faffff;
	opacity: 0.5;
	height: 4em;
}

#Homeservices div{
	padding: 2em 1em;
}

#Homeservices p{
	margin: 1em auto;
}

#Homeservices strong{
	font-weight: 400;
}

#confiance{
	width: 80%;
	margin: 5em auto;
}

#confiance img{
	margin: 1em auto;
	height: 12em;
	object-fit: cover;
}

#servicesHeader {
	background: linear-gradient(transparent, #18130e), url("img/servicesBan.webp");
	background-size: cover;
    background-position: right;
}

#servicesh2{
	margin: 1em;
	text-align: center;
}

#cardServices{
	width: 85%;
	margin: 5em auto;
}

#cardServices .glass{
	margin: 1em;
	width: 40%;
	padding: 1em;
}

#cardServices h3{
	text-align: center;
}

#cardServices p{
	margin: 0.5em;
	font-size: 0.85em;
}

#cardServices img{
	width: 25%;
	object-fit: contain;
}

footer svg{
    z-index: 2;
	background-color: #18130e;
	margin-bottom: -10px;
}

#footerLink{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    width: 100%;
    margin: auto;
    justify-content: space-around;
    background-color: #333333;
}

#footerLink a{
    color: white;
}

.footerList{
    display: flex;
    flex-direction: column;
    margin: 1em;
    color: white;
}

.footerTitre{
    color: #faffff;
    margin: 0.5em;
    font-size: 1.2em;
    text-transform: uppercase;
    text-align: center;
}

#footerDescr{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    background-color: #333333;
}

#footerDescr p, #footerDescr a{
    color: white;
margin: 1em;
}

#midCol{
	margin-top: 5em;
}

#contact{
	min-height: 95%;
	background-color: #18130e;
}
#contactBan{
	width: 50%;
	background: linear-gradient(transparent, #18130e), url("img/contact.webp");
	background-size: cover;
    background-position: center;
}

#contactLink{
	width: 50%;
}

#contactBan h1{
	text-transform: uppercase;
	font-size: 3em;
	margin: 2em auto;
}

#contactCard{
	margin: auto;
	padding: 1em;
	text-align: center;
}

#contactCard a{
	margin: 1em;
	font-size: 1.2em;
	text-decoration: none;
	transition-duration: 0.5s;
}

#contactCard img{
	width: 4em;
	text-align: center;
}

#contactCard p{
	text-align: center;
}

/*------    HOVER  ------*/
@media all and (min-width: 48em) {
	.navBouton a:hover {
		color: #794E37;
	}
	.cta:hover span{
        padding-right: 25px;
    }
    
    .cta:hover span:after{
        opacity: 1;
        right: 0;
    }
	.link:hover{
		text-decoration: underline;
	}
	#contactLink a:hover{
		transform: scale(1.2);
	}
}


/*------	RESPONSIVE	------*/

@media all and (max-width: 60em){ /*INTER*/
	#Homeservices{
		flex-direction: column;
	}
	#Homeservices div{
		width: 80%;
		margin: 1em auto;
		padding: 0.5em;
	}
	.chiffre{
		font-size: 2em;
	}	
	.chiffreDescr{
		font-size: 1em;
	}
	#galerie{
		margin: auto;
		padding: 1em;
	}
	#cardServices{
		width: 100%;
	}
}

@media all and (max-width: 48em){ /*PHONE*/
	#propos{
		flex-direction: column;	
		width: 100%;
	}
	#propos img{
		width: 80%;
		margin: 0 auto 1em;
	}
	#propos p{
		width: 80%;
		margin: auto;
		font-size: 1em;
	}
	#homeChiffres{
		flex-direction: column;
	}
	.separateur{
		display: none;
	}
	#homeChiffres div{
		margin: 1.5em auto;
	}
	.chiffre{
		font-size: 3em;
	}
	.chiffreDescr{
		font-size: 1.2em;
	}
	#confiance{
		flex-direction: column;
	}
	#confiance img{
		height: 8em;
	}
	#galerie{
		flex-direction: column;
	}
	#galerie div{
		width: 80%;
		margin: auto;
	}
	#contact{
		flex-direction: column;
	}
	#contactBan{
		width: 100%;
	}
	#contactLink{
		width: 80%;
		margin: 1em auto;
	}
	#galerieHeader {
		background: linear-gradient(transparent, #18130e), url("img/galerieBan.webp");
		background-size: cover;
		background-position: right;
	}
	#footerDescr{
		flex-direction: column;
		margin: auto;
	}
	#footerDescr p{
		text-align: center;
	}
	#cardServices{
		flex-direction: column;
	}
	#cardServices .glass{
		width: 85%;
		margin: 1em auto;
	}
}



/*------    MENU NAV    ------*/

nav {
	position: fixed;
	width: 100%;
	height: 4em;
	z-index: 100;

	display: flex;
	background-color: #333333;
	-webkit-box-align: center;
	align-items: center;
	-webkit-box-pack: center;
	justify-content: center;
}

#navMask {
	position: absolute;
	top: 0;
	left: 0;
	right: -2em;
	bottom: 0;
	z-index: 1;
}

#navContenu {
	position: absolute;
	display: grid;
	grid-template-columns: 1fr auto 1fr;
	-webkit-box-align: center;
	align-items: center;
	width: 100%;
	height: 4em;
	max-width: 110em;
	padding: 0 1.5rem;
}

.navLogo {
	display: flex;
	flex-shrink: 0;
	padding: 0;
	margin-right: 1rem;
	z-index: 950;
}

.navLogo a {
	display: inline-flex;
}

.navLogo img {
	height: 5em;
	background-color: #333333;
	padding: 1em;
	border-radius: 0 0 5em;
	margin-left: -0.5em;
	position: absolute;
	top: 0;
	left: 0;
}

nav ul {
	display: grid;
	max-width: 62em;
	margin: 0;
	list-style-type: none;
	background-color: #333333;
	padding: 0;
	grid-template-columns: repeat(auto-fit, minmax(6rem, auto));
	position: static;
	bottom: auto;
	left: 0;
	height: 4em;
	width: auto;
}

nav li {
	display: flex;
	margin: 0 2em;
	padding: 0;
}

.navBouton {
	display: flex;
	align-items: center;
	position: relative;
	flex-direction: row;
}

.navBouton a {
	position: relative;
	height: 100%;
	display: flex;
	-webkit-box-align: center;
	align-items: center;
	text-decoration: none;
	color: white;
	font-size: 1.4em;
}

.navIcon {
	height: 0.8em;
	margin: 0 0.5em;
}

.navEspaceH {
	height: 4em;
}

@media all and (min-width: 48em) and (max-width: 60em) {

	/*Intermédiaire*/
	.navContenu {
		max-width: 110em;
		padding: 0 1rem;
	}

	nav ul {
		padding: 0;
		grid-template-columns: repeat(auto-fit, minmax(6rem, auto));
		position: static;
		bottom: auto;
		left: 0;
		height: 4em;
		width: auto;
	}

	nav li {
		padding: 0;
		margin: 0 1em;
	}

	.navIcon {
		height: 0.8em;
		margin: 0 0.5em;
	}

	.navBouton a {
		font-size: 1.2em;
	}
}

@media all and (max-width: 48em) {

	/*Smartphone*/
	nav {
		height: 3em;
	}

	#navContent {
		max-width: 89rem;
		padding: 0 1rem;
		position: fixed;
		top: 0px;
		left: 0px;
		width: 100%;
		background-color: #333333;
	}

	nav ul {
		position: fixed;
		bottom: 0;
		left: 0;
		grid-template-columns: 25% 25% 25% 25%;
		width: 100%;
		height: 3em;
	}

	nav li {
		margin: 0 auto;
	}

	.navBouton {
		position: relative;
		width: 100%;
		border: 0;
		z-index: 2;
	}

	.navBouton a {
		flex-direction: column;
		justify-content: center;
		font-size: 0.8em;
	}

	.navIcon {
		height: 1em;
		margin-bottom: 0.1rem;
	}

	.navEspaceH {
		height: 6%;
	}

	.espaceNavBas{
		height: 6%;
	}

	.navLogo img {
		height: 4em;
		padding: 0.6em;
		border-radius: 0 0 4em;
	}
}