/*GUIDE DE STYLE*/
/*Gris : #333333*/
/*Marron : #8e5d43*/
/*Bleu Marine : #3d455c*/
/*Bleu clair : a7bbc7*/

@import url("https://use.typekit.net/fnc3loy.css");

* {
    margin: 0;
    padding: 0;
    text-decoration: none;
    list-style: none;
    color: black;
    font-family: acumin-pro;
}

html, body{
    height: 100%;
}

span{
	color: #8e5d43;
	font-weight: 700;
}

strong{
	color:  #8e5d43;
}

/*---------- Navigation ----------*/

nav{
	position: fixed;
	width: 100%;
    height: 4em;
	z-index: 900;
	
	display: flex;
	background-color: #333333;
	-webkit-box-align: center;
	align-items: center;
	-webkit-box-pack: center;
	justify-content: center;
}

#navMask{
	position: absolute;
    top: 0;
    left: 0;
    right: -2em;
    bottom: 0;
    z-index: 1;
}

#navContenu{
	position: absolute;
	display: grid;
	grid-template-columns: 1fr auto 1fr;
	-webkit-box-align: center;
	align-item: center;
	width: 100%;
    height: 4em;
    max-width: 110em;
    padding: 0 1.5rem;
}

.navLogo{
	display: flex;
	flex-shrink: 0;
	padding: 0;
	margin-right: 1rem;
	z-index: 950;
}
.navLogo a{
	display: inline-flex;
}
.navLogo img{
	height: 5em;
	background-color: #333333;
	padding: 1em;
	border-radius: 0 0 5em;
	margin-left: -0.5em;
	position: absolute;
	top: 0;
	left: 0;
}
nav ul{	
	display: grid;
	max-width: 62em;
	margin: 0;
	list-style-type: none;
	background-color: #333333;
    padding: 0;
    grid-template-columns: repeat(auto-fit,minmax(6rem,auto));
    position: static;
    bottom: auto;
    left: 0;
    height: 4em;
    width: auto;
}
nav li{
	display: flex;
	margin: 0 2em;
    padding: 0;
}

.navBouton{
	display: flex;
	align-item: center;
    position: relative;
		flex-direction: row;
}
.navBouton a{
	position: relative;
	height: 100%;
	display: flex;
	-webkit-box-align: center;
	align-items: center;
	text-decoration: none;
	color: white;
	font-size: 1.4em;
}
.navBouton a:hover{
	color: #8E5D43;
}

.navIcon{
	height: 0.8em;
	margin: 0 0.5em;
	}

.navEspaceH{
    height: 4em;
}

@media all and (min-width: 48em) and (max-width: 60em){ /*Intermédiaire*/
    .navContenu{
		max-width: 110em;
		padding: 0 1rem;
	}
    nav ul{
		padding: 0;
		grid-template-columns: repeat(auto-fit,minmax(6rem,auto));
		position: static;
		bottom: auto;
		left: 0;
		height: 4em;
		width: auto;
	}
    nav li{
		padding: 0;
		margin: 0 1em;
	}
	.navIcon{
	height: 0.8em;
	margin: 0 0.5em;
	}
	.navBouton a{
	font-size: 1.2em;
	}
}

@media all and (max-width: 48em){ /*Smartphone*/
    nav{
		height: 3em;
	}
	#navContent{
		max-width: 89rem;
		padding: 0 1rem;
		position: fixed;
		top: 0px;
		left: 0px;
		width: 100%;
		background-color: #333333;
	}
	nav ul{
		position: fixed;
		bottom: 0;
		left: 0;
		grid-template-columns: 25% 25% 25% 25%;
		width: 100%;
		height: 3em;
	}
	nav li{
		margin: 0 auto;
	}
	.navBouton{
		position: relative;
		width: 100%;
		border: 0;
		z-index: 2;
	}
	.navBouton a{
		flex-direction: column;
		justify-content: center;
		font-size: 0.8em;
	}
	.navIcon{
		height: 1em;
		margin-bottom: 0.1rem;
	}
    .navEspaceH{
        height: 6%;
    }
    .navLogo img{
	height: 4em;
	padding: 0.6em;
	border-radius: 0 0 4em;
}
}

/*-----------------------------------------------------------------*/
/*---------- Header ----------*/

.headerHome{
    height: 100%;
    width: 100%;
    position: relative;
    display: flex;
    background-image: url("img/bannierreHomepage.webp");
    background-size: cover;
    background-position: center;

}

h1{
    margin: auto 3em;
    text-align: left;
    text-transform: uppercase;
    font-size: 4em;
    color: white;
    text-shadow: 0.1em 0.1em 0.1em black;
    transform: translate(0,-50%)
}

.headerHome a{
    position: absolute;
    bottom: 8em;
    left: 10em;
}

.cta{
	border-radius: 0.3em;
	background-color: #3d455c;
	border: none;
	text-align: center;
	font-size: 1.2em;
	padding: 0.6em;
	width: 12em;
	transition: all 0.5s;
	cursor: pointer;
}

.cta span{
	cursor: pointer;
	display: inline-block;
	position: relative;
	transition: 0.5s;
	color: white;
	font-weight: 400;
}

.cta span:after {
	content: '\00bb';
	position: absolute;
	opacity: 0;
	top: 0;
	right: -20px;
	transition: 0.5s;
}

.cta:hover span{
	padding-right: 25px;
}

.cta:hover span:after{
	opacity: 1;
	right: 0;
}


/*---------- Grille Services ----------*/

.grilleServices{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    height: 50%;
}

.grilleServices div{
    position: absolute;
    bottom: 1em;
    left: 1em;
    color: white;
    font-size: 1.5em;
    text-shadow: 0.1em 0.1em 0.1em black;
    transition-duration: 0.5s;
}



.grilleServices > a:hover{
    font-size: 1.2em;
}

#grille1{
    position: relative;
    background-image: linear-gradient(transparent, black), url("img/s1photo.webp");
    background-size: cover;
    background-position: center;
}

#grille2{
    position: relative;
    background-image: linear-gradient(transparent, black), url("img/s2video.webp");
    background-size: cover;
    background-position: center;
}
#grille3{
    position: relative;
    background-image: linear-gradient(transparent, black), url("img/s3multimedia.webp");
    background-size: cover;
    background-position: center;
}


/*---------- Qui suis-je ? ----------*/


.bio{
    background-color: black;
    margin: 0;
    padding: 8%;
    position: relative;
    display: block;
    min-height: 35em;
}

.bio h2 {
    font-size: 2.2em;
    text-align: center;
    color: white;
}

.bio p{
    font-size: 1.1em;
    margin: auto;
    width: 75%;
    margin-top: 1em;
    color: white;
    text-align: justify;
}

.bio .cta{
    display: block;
    margin: 3em auto
}


/*---------- Chiffres clés ----------*/

.chiffreCles{
    width: 50%;
    height: 50%;
    background-color: white;
    box-shadow: 0.1em 0.1em 1em #333333;
    position: absolute;
    margin: -5% auto 0;
    left: 50%;
    transform: translate(-50%);
}

.grilleChiffres{
    text-align: center;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-auto-rows: 10em;
    
    margin: auto;
}

.grilleChiffres h3{
    color: #8e5d43;
    font-size: 2.5em;
}

.chiffreCles h2{
    text-align: center;
    margin: 1em;
}

.grilleChiffres p{
    font-size: 1.2em;
}

.espaceChiffres{
    height: 50%;
}



/*---------- Projets ----------*/

.projets{
    dispay: block;
}
.grilleProjets{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    margin: 1em;
    height: 18em;
}

.grilleProjets div{
    position: absolute;
    bottom: 1em;
    left: 1em;
    color: white;
    font-size: 1.5em;
    text-shadow: 0.1em 0.1em 0.1em black;
    transition-duration: 0.5s;
}

.grilleProjets > a:hover{
    font-size: 1.2em;
}

.projets h2{
    font-size: 2.2em;
    text-align: center;
}

.projets .cta{
    display: block;
    margin: 5em auto;
}

#projet1{
    background-color: red;
    position: relative;
}
#projet2{
    background-color: yellow;
    position: relative;
}
#projet3{
    background-color: red;
    position: relative;
}


/*Contact*/
.contact{
    height: 92%;
    display: grid;
    grid-template-columns: 1fr 1fr;
}

.banContact{
    background: linear-gradient(transparent 50%, white), linear-gradient(to bottom, rgba(0, 0, 0, 0.35), rgba(0, 0, 0, 0.35)), url("img/contact.webp");
    background-position: center;
    background-size: cover;
    display: flex;
}

.contact h1{
    text-shadow: none;
    margin: 30% auto;
}

.contactContenu{
    text-align: center;
    padding: 1em;
}


.contactContenu h2{
    margin: 2em 1em 1em;
    font-size: 2em;
}

.contactContenu a{
    font-size: 1.2em;
}

.contactReseaux li{
    transition-duration: 0.5s;
}
.contactReseaux li:hover{
    transform: scale(110%);
    transition-duration: 0.5s;
}

.contactContenu a:hover{
    text-decoration: underline;
}

.contactReseaux{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
}

.contactReseaux img{
    height: 5em;
}

/*---------- Footer ----------*/

.footerListe {
    display: grid;
    grid-template-columns: 1fr 1fr;
    background-color: #333333;
}

footer svg{
    transform: translate(0, 10%);
    z-index: 2;
}

footer *{
    color: white;
    display: inline;
}

.footerListe div{
    text-align: center;
    transform: translate(0, -100%);
}

.footerListe a{
    margin-left: 2em;
}

.footerListe a:hover{
    text-decoration: underline;
}


/*---------- Galerie ----------*/

.headerGalerie{
    height: 50%;
    background-image: linear-gradient(transparent, black), url("img/bannierreHomepage.webp");
    background-size: cover;
    background-position: center;
    display: flex;
}

.headerGalerie h1{
    margin: auto auto auto 15%;
}

.galerieTopProjet{
    background: black;
    position: relative;
    padding-bottom: 1.5em;
}

.galerieTopProjet h2{
    text-align: center;
    padding-top: 2em;
    font-size: 2em;
    color: white;
}

.img{
    margin: 2em auto;
    height: 25em;
    background-color: red;
    width: 60%;
}

.galerieTopProjet p{
    font-size: 2em;
    color: white;
    position: absolute;
    left: 50%;
    top: 65%;
    transform: translate(-50%);
}

.galerieTopProjet .cta{
    display: block;
    margin: 0 auto;
    width: 10%;
}

.galerieProjets{
    display: block;
    background-color: black;
    padding: 2em 0;
}

.galerieProjets h2{
    font-size: 1.4em;
    text-align: center;
    color: white;
}

.galerieProjetsG{
    display: grid;
    grid-template-columns: 1fr 1fr;
}

.imgP{
    height: 10em;
    width: 60%;
    background-color: blue;
    margin: 0 auto;
}

.galerieProjets .cta{
    display :block;
    width: 10%;
    margin: 1em auto;
}


.galeriePhoto h2{
    font-size: 1.5em;
    text-align: center;
    margin: 2em auto;
}
.galeriePG{
    width: 90%;
    margin: 2em auto;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
}

.galeriePG img{
    width: 100%;
}

.galerieContact{
    height: 50%;
    background-color: red;
    width: 60%;
    margin: 0 auto;
}

.galerieContactF{
    height: 80%;
    display: flex;
}

.galerieContact h2{
    margin: auto;   
}

.galerieContact .cta{
    display: block;
    width: 15%;
    margin: 0 auto;
}


/*---------- Services ----------*/

.headerServices{
    height: 50%;
    background-image: linear-gradient(transparent, white), url("img/bannierreHomepage.webp");
    background-size: cover;
    background-position: center;
    display: flex;
}

.servicesCat{
    margin: 2em auto;
}

.servicesCat h2{
    text-align: center;
    padding: 3em 1em 1em;
    font-size: 2em;
}

.servicesG{
    display: grid;
    grid-template-columns: 1fr 1fr;
}

.servicesArticle{
    height: 12em;
    display: flex;
    /*background-color: #333333;*/
    border: solid black 0.1em;
    background-size: cover;
    background-position: center;
}

.servicesArticle a{
    margin: auto;
    text-align: center;
    transition-duration: 0.2s;
}

.servicesArticle a:hover{
    font-size: 1.1em;
    transition-duration: 0.5s;
}

.servicesArticle h3, .servicesArticle p{
    color: white;
}


#service1{
    background-image: linear-gradient(to bottom, rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url("img/services/association.webp");
}
#service2{
    background-image: linear-gradient(to bottom, rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url("img/services/association.webp");
}
#service3{
    background-image: linear-gradient(to bottom, rgba(0, 0, 0, 0.45), rgba(0, 0, 0, 0.45)), url("img/services/architecture.webp");
}
#service4{
    background-image: linear-gradient(to bottom, rgba(0, 0, 0, 0.65), rgba(0, 0, 0, 0.65)), url("img/services/book.webp");
}
#service5{
    background-image: linear-gradient(to bottom, rgba(0, 0, 0, 0.65), rgba(0, 0, 0, 0.65)), url("img/services/pub.webp");
}
#service6{
    background-image: linear-gradient(to bottom, rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.4)), url("img/services/live.webp");
}
#service7{
    background-image: linear-gradient(to bottom, rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url("img/services/association.webp");
}
#service8{
    background-image: linear-gradient(to bottom, rgba(0, 0, 0, 0.65), rgba(0, 0, 0, 0.65)), url("img/services/artisan.webp");
}
#service9{
    background-image: linear-gradient(to bottom, rgba(0, 0, 0, 0.65), rgba(0, 0, 0, 0.65)), url("img/services/siteweb.webp");
}
#service10{
    background-image: linear-gradient(to bottom, rgba(0, 0, 0, 0.65), rgba(0, 0, 0, 0.65)), url("img/services/infographie.webp");
}
#service11{
    background-image: linear-gradient(to bottom, rgba(0, 0, 0, 0.65), rgba(0, 0, 0, 0.65)), url("img/services/graphisme.webp");
}
#service12{
    background-image: linear-gradient(to bottom, rgba(0, 0, 0, 0.65), rgba(0, 0, 0, 0.65)), url("img/services/marketing.webp");
}

/*---------- Page Produit ----------*/

.headerProduit{
    height: 100%;
    width: 100%;
    position: relative;
    display: flex;
    background-image: url("img/bannierreHomepage.webp");
    background-size: cover;
    background-position: center;

}

.headerProduit h1{
    margin: auto;
    text-align: left;
    text-transform: uppercase;
    font-size: 4em;
    color: white;
    text-shadow: 0.1em 0.1em 0.1em black;
    transform: translate(0,-50%);
    position: absolute;
    top: 40%;
    left: 10%;
}

.headerProduit p{
    color: white;
    text-align: justify;
    transform: translate(0, -50%);
    margin: auto;
    position: absolute;
    top: 60%;
    left: 10%;;
    width: 50%;
    text-shadow: 0.1em 0.1em 0.1em black;
    font-size: 1.1em;
}

.headerProduit a{
    position: absolute;
    bottom: 8em;
    left: 15%;
}



/*---------- Mentions Légales ----------*/

.headerLegales{
    height: 50%;
    display: flex;
    background: linear-gradient(transparent, black), url("img/banContact.webp");
}

.legales{
    margin: 2em auto;
    width: 60%;
}

.legales p{
    margin: 1em 0;
    text-align: justify;
}

.legales li{
    list-style-type: square;
    margin: 1em 0;
}

.legales h2{
    text-align: center;
    margin-top: 2em;
}

/*---------- Responsive ----------*/

@media all and (min-width: 48em) and (max-width: 60em){ /*Intermédiaire*/
    h1{
        margin: auto 1em;
    }
    .bio{
    padding: 4%;
    height: 90%;
    }

    .bio h2 {
        margin-bottom: 1em;
    }

    .bio p{
        width: 85%;
    }

    .bio .cta{
        margin: 3em auto
    }
    .chiffreCles{
    width: 60%;
    height: 50%;
    margin: -6% auto 0;
    }
    .contactReseaux{
        width: 80%;
        margin: 0 auto;
    }
    
    .contactReseaux img{
        height: 3em;
    }
}

@media all and (max-width: 48em){ /*Smartphone*/
    h1{
        margin: auto 0.1em;
        font-size: 2.5em;
        width: 100%;
    }
    .headerHome a{
        position: absolute;
        left: 1em;
        width: 50%;
        font-size: 1.1em;
        bottom: 10em;
    }
    .grilleServices{
    grid-template-columns: 1fr;
    height: 100%;
    }
    .bio{
    padding: 4%;
    }

    .bio h2 {
        margin-bottom: 1em;
    }

    .bio p{
        width: 85%;
    }

    .bio .cta{
        margin: 3em auto
    }
    .chiffreCles{
        margin-top: 2em;
        width: 85%;
    }
    .espaceChiffres{
        height: 60%;
    }
    .grilleProjets{
    grid-template-columns: 1fr;
    grid-auto-columns: 30em;
    }
    .espaceNavBas{
        height: 4em;
    }
    .contact{
        display: block;
        height: 150%;
    }
    .footerListe {
        grid-template-columns: 1fr;
    }
    
    .footerListe a{
        margin-left: 1em;
    }
}


#preloader {
    background: #000000 url("loader.gif") no-repeat center center;
    background-size: 8%;
    height: 100%;
    width: 100%;
    position: relative;
    z-index: 999;
    transition-duration: 1s;
}


/*----------  ----------*/
